In [2]:
import pandas as pd 
data = [10, 20, 30, 40, 50] 
series = pd. Series (data) 
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
import pandas as pd 
a = [1, 7, 21] 
myvar = pd.Series (a, index = ["x", "y", "z"]) 
print (myvar)

x     1
y     7
z    21
dtype: int64

In [5]:
import pandas as pd

series = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

gt = series > 25
print("series > 25 = \n", gt)

series_filtered = series[series > 25]
print("Filtered Series: \n", series_filtered)

series_multiplied = series * 2
print("\nSeries after Scalar Multiplication: \n", series_multiplied)

series > 25 =
 0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool
Filtered Series:
 2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Series after Scalar Multiplication:
 0     20
1     40
2     60
3     80
4    100
5    120
6    140
7    160
8    180
9    200
dtype: int64

In [6]:
import numpy as np 
print("series= \n",series) 
series_sqrt = np.sqrt(series) 
print("\nSeries after Applying Square Root: \n", series_sqrt)

series=
 0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Series after Applying Square Root:
 0     3.162278
1     4.472136
2     5.477226
3     6.324555
4     7.071068
5     7.745967
6     8.366600
7     8.944272
8     9.486833
9    10.000000
dtype: float64

In [10]:
import pandas as pd 
data = { 
"calories": [420, 380, 390], 
"duration": [50, 40, 45] } 
df = pd.DataFrame(data) 
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [14]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
'year': [2000, 2001, 2002, 2001, 2002, 2003], 
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]} 
frame = pd.DataFrame(data) 
print (frame) 
frame = pd.DataFrame(data, columns=['year', 'state', 'pop']) 
print(frame)
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six']) 
print (frame2)
print (frame2 ['year']) 
print("\n", frame2['state']) 
print("\n", frame2.state)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2
       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [15]:
import pandas as pd
import numpy as np

data = {'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame2 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five', 'six'])
frame2['debt'] = np.arange(6.)

print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [16]:
import pandas as pd

data = {'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame2 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five', 'six'])

val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)

frame2['eastern'] = frame2.state == 'Ohio'
print(frame2)

del frame2['eastern']
print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False
       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [17]:
import pandas as pd

data = {'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame2 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five', 'six'])

val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val

print(frame2.T)

        one   two three    four    five     six
year   2000  2001  2002    2001    2002    2003
state  Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
pop     1.5   1.7   3.6     2.4     2.9     3.2
debt    NaN  -1.2   NaN    -1.5    -1.7     NaN

In [18]:
import pandas as pd

obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)

obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [19]:
import pandas as pd

obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)

obj4 = obj3.reindex(range(6), method='ffill')
print("\nMethod 'ffill':")
print(obj4)

obj5 = obj3.reindex(range(6), method='bfill')
print("\nMethod 'bfill':")
print(obj5)

obj6 = obj3.reindex(range(6), fill_value='red')
print("\nFill value:")
print(obj6)

obj7 = pd.Series([1, 2, 3], index=[0, 2, 5])
obj8 = obj7.reindex(range(7), method='ffill', limit=1)
print("\nLimit:")
print(obj8)

0      blue
2    purple
4    yellow
dtype: object

Method 'ffill':
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Method 'bfill':
0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

Fill value:
0      blue
1       red
2    purple
3       red
4    yellow
5       red
dtype: object

Limit:
0    1.0
1    1.0
2    2.0
3    2.0
4    NaN
5    3.0
6    3.0
dtype: float64

In [20]:
import pandas as pd
import numpy as np

obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
print(new_obj)

print(obj.drop(['d', 'c']))

data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Dallas', 'NJ', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print(data)

print(data.drop(['NJ', 'Ohio']))

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
e    4.0
dtype: float64
          one  two  three  four
Ohio        0    1      2     3
Dallas      4    5      6     7
NJ          8    9     10    11
New York   12   13     14    15
          one  two  three  four
Dallas      4    5      6     7
New York   12   13     14    15

In [21]:
import pandas as pd
import numpy as np

obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)

new_obj = obj.drop('c')
print(new_obj)

print(obj.drop(['d', 'c']))

data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Dallas', 'NJ', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print(data)

print(data.drop(['NJ', 'Ohio']))

print(data.drop(['two', 'four'], axis=1))

try:
    obj.drop('z')
except KeyError as e:
    print(e)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
e    4.0
dtype: float64
          one  two  three  four
Ohio        0    1      2     3
Dallas      4    5      6     7
NJ          8    9     10    11
New York   12   13     14    15
          one  two  three  four
Dallas      4    5      6     7
New York   12   13     14    15
          one  three
Ohio        0      2
Dallas      4      6
NJ          8     10
New York   12     14
"['z'] not found in axis"

In [22]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

print("df1:\n", df1)
print("df2:\n", df2)

print("Addition:\n", df1 + df2)
print("\nSubtraction:\n", df1 - df2)
print("\nMultiplication:\n", df1 * df2)
print("\nDivision:\n", df1 / df2)

df3 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=[0, 1, 2])
df4 = pd.DataFrame({'B': [7, 8, 9], 'C': [10, 11, 12]}, index=[1, 2, 3])

print("\ndf3:\n", df3)
print("df4:\n", df4)

result = df3 + df4
print("\nResult of df3 + df4 with alignment:\n", result)

df1:
    A  B
0  1  4
1  2  5
2  3  6
df2:
    A   B
0  7  10
1  8  11
2  9  12
Addition:
     A   B
0   8  14
1  10  16
2  12  18

Subtraction:
    A  B
0 -6 -6
1 -6 -6
2 -6 -6

Multiplication:
     A   B
0   7  40
1  16  55
2  27  72

Division:
           A         B
0  0.142857  0.400000
1  0.250000  0.454545
2  0.333333  0.500000

df3:
    A  B
0  1  4
1  2  5
2  3  6
df4:
    B   C
1  7  10
2  8  11
3  9  12

Result of df3 + df4 with alignment:
     A     B   C
0 NaN   NaN NaN
1 NaN  12.0 NaN
2 NaN  14.0 NaN
3 NaN   NaN NaN

In [23]:
import pandas as pd
import numpy as np

obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
df_sort_series = obj.sort_index()
print(df_sort_series)

frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])

df_sort_dataframe = frame.sort_index()
print("I \n", df_sort_dataframe)

df_sort_dataframe_axis1 = frame.sort_index(axis=1)
print("II \n", df_sort_dataframe_axis1)

df_sort_dataframe_ascending = frame.sort_index(axis=1, ascending=False)
print("III \n", df_sort_dataframe_ascending)

df_sort_values_by_column = frame.sort_values(by='b')
print("IV \n", df_sort_values_by_column)

a    1
b    2
c    3
d    0
dtype: int64
I
        d  a  b  c
one    4  5  6  7
three  0  1  2  3
II
        a  b  c  d
three  1  2  3  0
one    5  6  7  4
III
        d  c  b  a
three  0  3  2  1
one    4  7  6  5
IV
        d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [24]:
import pandas as pd

obj = pd.Series([7, -5, 7, 3, 2, 0, 41])
df_rank = obj.rank()
print("Rank \n", df_rank)

df_rank_method_first = obj.rank(method='first')
print("\nRank - Method='first' \n", df_rank_method_first)

df_rank_descending = obj.rank(ascending=False, method='max')
print("\nRank - Method='max', descending order \n", df_rank_descending)

frame = pd.DataFrame({
    'b': [4.3, 7, -3, 2],
    'a': [0, 1, 0, 11],
    'c': [-2, 5, 8, -2.5]
})
print("\nOriginal DataFrame:\n", frame)

df_rank_dataframe = frame.rank(axis='columns')
print("\nRank over columns:\n", df_rank_dataframe)

Rank
 0    5.5
1    1.0
2    5.5
3    4.0
4    3.0
5    2.0
6    7.0
dtype: float64

Rank - Method='first'
 0    5.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    7.0
dtype: float64

Rank - Method='max', descending order
 0    3.0
1    7.0
2    3.0
3    4.0
4    5.0
5    6.0
6    1.0
dtype: float64

Original DataFrame:
      b   a    c
0  4.3   0 -2.0
1  7.0   1  5.0
2 -3.0   0  8.0
3  2.0  11 -2.5

Rank over columns:
      b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  2.0  3.0  1.0